.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
node_modules/@babel/code-frame/lib/index.js
node_modules/@babel/helper-validator-identifier/lib/index.js
node_modules/@babel/highlight/lib/index.js
node_modules/@tootallnate/quickjs-emscripten/dist/index.js
node_modules/agent-base/dist/index.js
node_modules/ansi-regex/index.js
node_modules/ansi-styles/index.js
node_modules/b4a/index.js
node_modules/base64-js/index.js
node_modules/basic-ftp/dist/index.js
node_modules/buffer/index.js
node_modules/buffer-crc32/index.js
node_modules/callsites/index.js
node_modules/chalk/index.js
node_modules/chromium-bidi/lib/cjs/bidiServer/index.js
node_modules/cliui/build/lib/index.js
node_modules/color-convert/index.js
node_modules/color-name/index.js
node_modules/cosmiconfig/dist/index.js
node_modules/data-uri-to-buffer/dist/index.js
node_modules/debug/src/index.js
node_modules/degenerator/dist/index.js
node_modules/emoji-regex/index.js
node_modules/emoji-regex/es2015/index.js
node_modules/end-of-stream/index.js
node_modules/error-ex/index.js
node_modules/escalade/dist/index.js
node_modules/escalade/sync/index.js
node_modules/escape-string-regexp/index.js
node_modules/extract-zip/index.js
node_modules/fast-fifo/index.js
node_modules/fd-slicer/index.js
node_modules/fs-extra/lib/index.js
node_modules/fs-extra/lib/copy/index.js
node_modules/fs-extra/lib/copy-sync/index.js
node_modules/fs-extra/lib/empty/index.js
node_modules/fs-extra/lib/ensure/index.js
node_modules/fs-extra/lib/fs/index.js
node_modules/fs-extra/lib/json/index.js
node_modules/fs-extra/lib/mkdirs/index.js
node_modules/fs-extra/lib/move/index.js
node_modules/fs-extra/lib/move-sync/index.js
node_modules/fs-extra/lib/output/index.js
node_modules/fs-extra/lib/path-exists/index.js
node_modules/fs-extra/lib/remove/index.js
node_modules/get-caller-file/index.js
node_modules/get-stream/index.js
node_modules/get-uri/dist/index.js
node_modules/has-flag/index.js
node_modules/http-proxy-agent/dist/index.js
node_modules/https-proxy-agent/dist/index.js
node_modules/ieee754/index.js
node_modules/import-fresh/index.js
node_modules/is-arrayish/index.js
node_modules/is-fullwidth-code-point/index.js
node_modules/js-tokens/index.js
node_modules/js-yaml/index.js
node_modules/json-parse-even-better-errors/index.js
node_modules/jsonfile/index.js
node_modules/lines-and-columns/build/index.js
node_modules/lru-cache/index.js
node_modules/mkdirp-classic/index.js
node_modules/ms/index.js
node_modules/node-fetch/lib/index.js
node_modules/pac-proxy-agent/dist/index.js
node_modules/pac-resolver/dist/index.js
node_modules/parent-module/index.js
node_modules/parse-json/index.js
node_modules/path-type/index.js
node_modules/pend/index.js
node_modules/progress/index.js
node_modules/proxy-agent/dist/index.js
node_modules/proxy-from-env/index.js
node_modules/pump/index.js
node_modules/require-directory/index.js
node_modules/resolve-from/index.js
node_modules/socks/build/index.js
node_modules/socks-proxy-agent/dist/index.js
node_modules/streamx/index.js
node_modules/string-width/index.js
node_modules/strip-ansi/index.js
node_modules/supports-color/index.js
node_modules/tar-fs/index.js
node_modules/tar-stream/index.js
node_modules/through/index.js
node_modules/through/test/index.js
node_modules/tr46/index.js
node_modules/tslib/modules/index.js
node_modules/unbzip2-stream/index.js
node_modules/universalify/index.js
node_modules/urlpattern-polyfill/index.js
node_modules/webidl-conversions/lib/index.js
node_modules/wrap-ansi/index.js
node_modules/wrap-ansi/node_modules/ansi-styles/index.js
node_modules/wrap-ansi/node_modules/color-convert/index.js
node_modules/wrap-ansi/node_modules/color-name/index.js
node_modules/ws/index.js
node_modules/y18n/build/lib/index.js
node_modules/yargs/helpers/index.js
node_modules/yargs-parser/build/lib/index.js
node_modules/yauzl/index.js
